.create-group-screen {
  background: rgb(242, 226, 244);
  background: radial-gradient(circle, rgba(242, 226, 244, 1) 0%, rgba(186, 130, 194, 1) 100%);
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center; 
  position: relative;
  height: 100%; 
  width: 100vh;
}

.big-button-div {
  position: fixed !important;
  top: 89% !important;
}

.button-container-notification {
  text-align: center;
}

h1 {
  margin-bottom: 2% !important;
}