/* WelcomeScreen.css */

/* Ensure .welcome-screen is flex container */
.welcome-screen {
  background: rgb(242, 226, 244);
  background: radial-gradient(circle, rgba(242, 226, 244, 1) 0%, rgba(186, 130, 194, 1) 100%);
  display: flex;
  flex-direction: column; /* Align items in a column */
  justify-content: center; /* Center items vertically */
  align-items: center; /* Center items horizontally */
  position: relative;
  height: 100%; /* Adjust height as needed */
  width: 100vh;
}

img {
  padding: 5px;
  width: 250px;
}

@font-face {
  font-family: 'Genty Sants';
  src: url('../../../public/fonts/genty-sans-regular.ttf') format('truetype');
}

body {
  font-family: 'Genty Sants', sans-serif;
}

h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 40px;
}

.limited-time {
  color: #f2e2f4; /* Example style: change the text color to red */
  text-shadow: 
  -1px -1px 0 #000,  
   1px -1px 0 #000,
  -1px  1px 0 #000,
   1px  1px 0 #000; /* Creates a black border around the text */
   font-size: 28px;
}

