.back-button {
	background-color:#6d3c86;
	border-radius:100%;
	border: none;
	cursor:pointer;
	color:#f2e2f4;
	font-family:Arial;
	font-size:18px;
	font-weight:bold;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 12px;
  padding-bottom: 10px;
	text-decoration:none;
}

.back-button-div {
  position: absolute;
  top: 2%;
  right: 2%;
}

.forgot-password-button {
  background-color: #f2e2f4;
  border-radius: 16px;
  border: 4px solid #312c33;
  cursor: pointer;
  color: #312c33;
  font-size: 12px;
  font-weight: bold;
  padding-top: 6px;
  padding-bottom: 6px;
  text-decoration: none;
  width: 200px;
  position: absolute;
  top: 68%;
  right: 3%;
}

.limited-time-only {
  position: absolute;
  top: 100px;
}

.logo-div {
  position: absolute;
  top: 43%;
}

.big-button-div {
  position: absolute;
  top: 80%;
  left:5%;
  right:5%;
  height: 10%;
  max-width: 100%;
}

.big-button {
  box-shadow: 0px 4px 0px 0px #312c33;
  background-color: #f2e2f4;
  border-radius: 27px;
  border: 4px solid #312c33;
  display: inline-block;
  cursor: pointer;
  color: #312c33;
  font-size: 24px;
  font-weight: bold;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 3%;
  padding-bottom: 3%;
  width: 100%;
  text-decoration: none;
  text-shadow: 0px 0px 0px #312c33;
}

.input {
  padding: 1px;
  margin-top: 8%;
  margin-bottom: -10%;
  position: flex;
}

input {
	border: none;
	height: 28px;
	width: 300px;
	border-radius: 7px;
}


/* Sidebar.css */
.sidebar {
  position: fixed;
  top: 0;
  left: -250px; /* Hide the sidebar initially */
  width: 200px;
  height: 95%;
  background-color: #6d3c86;
  color: white;
  transition: left 0.3s ease, opacity 0.3s ease;
  opacity: 0; /* Make it transparent initially */
  z-index: 1000; /* Make sure the sidebar is above other elements */
  border-radius: 5px;
  height: 97%;
  margin-top: 3%;
  margin-left: 2.5%;
}

.sidebar.open {
  left: 0; /* Move the sidebar into view */
  opacity: 1; /* Make it visible */
 
}

.sidebar-content {
  padding: 20px;
}

.sidebar-toggle-button {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1001; /* Make sure the button is above other elements */
  background-color: #6d3c86;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 18px;
  border-radius: 4px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 96%;
  height: 97.5%;
  margin-left: 2%;
  margin-top: 2%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
  z-index: 999; /* Make sure the overlay is below the sidebar but above other elements */
}

.overlay.show {
  opacity: 1;
  visibility: visible;
}

.sidebar-image {
  max-width: 100px;
  max-height: 150px;
  width: 100%;
  height: 100%;
  margin-left: 16%;
  margin-right: 16%;
  margin-top: 70%;
  margin-bottom: 0;
}

.timeder-text {
  margin-top: 0;
  font-size: 30px;
  text-align: center;
}


.menu-panel-button {
	background-color:#6d3c86;
	border-radius:18px;
	border:2px solid #57306b;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:60px;
	padding-top:14px;
	padding-bottom:2px;
	padding-left:14px;
	padding-right:14px;
	text-decoration:none;
}

.menu-panel {
  float: left;
  margin-left: 2.6%;
  margin-top: 4%;
  margin-bottom: 4%;
  margin-top: 10px;
}

.pin-button-div {
  position: absolute;
  top: 10%;
  right: 2%;
}

.profile-content {
  font-size: 40px;
  position: absolute;
  top: 120px;
  text-align: center;
}

.groups-and-events {
  font-size: 26px;
}

.menu-panel {
  width: 100%;
  margin: 0;
  margin-top: 5%;
}

.small-button-div {

  max-width: 100%;
}

.small-button {
  box-shadow: 0px 4px 0px 0px #312c33;
  background-color: #f2e2f4;
  border-radius: 27px;
  border: 4px solid #312c33;
  display: inline-block;
  cursor: pointer;
  color: #312c33;
  font-size: 16px;
  font-weight: bold;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 3%;
  padding-bottom: 3%;
  width: 100%;
  max-width: 100%;
  text-decoration: none;
}