body {
  background-color: rgb(61, 61, 61);
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevent scrolling */
}

.phone {
  width: 340px; /* Example width of the phone */
  height: 680px; /* Example height of the phone */
  background-color: black;
  border: 5px solid #1c1b1b;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.screen {
  width: 95%; /* Adjust as needed */
  height: 97%; /* Adjust as needed */
  background-color: white;
  border-radius: 10px;
  overflow: hidden; /* Ensure content inside screen doesn't overflow */
  display: flex;
  justify-content: center;
  align-items: center;
}
